{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}" />
      <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
      <script defer src="https://unpkg.com/alpinejs@3.3.5/dist/cdn.min.js"></script>
      {# description of the page #}
      <meta name="description" content="{% block description %}{% endblock description %}">
      {# title in the browser tab #}
      <title>{% block head_title %}{% endblock head_title %}</title>
      <style>[x-cloak] { display: none !important; }</style>
  </head>
  <body>
    <div class="min-h-screen bg-gray-100">
      <div class="bg-pink-800 pb-32">
        <nav class="bg-pink-800 border-b border-pink-600 border-opacity-25 lg:border-none" x-data="{ tab: '{% spaceless %}{% block tab %}{% endblock tab %}{% endspaceless %}', def: 'text-white hover:bg-pink-900 hover:bg-opacity-75', current: 'bg-pink-900 text-white', open: false, profile: false}">
          <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
            <div class="relative h-16 flex items-center justify-between lg:border-b lg:border-pink-50 lg:border-opacity-25">
              <div class="px-2 flex items-center lg:px-0">
                <div class="flex-shrink-0">
                  <img class="block h-8 w-auto" src="{% static 'icons/gozagel-white.png' %}" alt="Gozagel">
                </div>
                <div class="hidden lg:block lg:ml-10">
                  <div class="flex space-x-4">
                    <a @click="tab = 'Dashboard'" :class="(tab === 'Dashboard') ? current : def" href="{% url 'shipments' %}" class="text-white hover:bg-pink-900 hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium">
                      {% translate "Dashboard" %}
                    </a>

                    <a @click="tab = 'Shipments'" :class="(tab === 'Shipments') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium">
                      {% translate "Shipments" %}
                    </a>

                    <a @click="tab = 'Adresses'" :class="(tab === 'Adresses') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium">
                      {% translate "Adresses" %}
                    </a>

                    <a @click="tab = 'Get a quote'" :class="(tab === 'Get a quote') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium">
                      {% translate "Get a quote" %}
                    </a>

                    <a @click="tab = 'Tickets'" :class="(tab === 'Tickets') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium">
                      {% translate "Tickets" %}
                    </a>

                    <a @click="tab = 'Help'" :class="(tab === 'Help') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium">
                      {% translate "Help" %}
                    </a>
                  </div>
                </div>
              </div>
              <div class="flex lg:hidden">
                <!-- Mobile menu button -->
                <button  @click="open = !open" type="button" class="bg-pink-900 p-2 rounded-md inline-flex items-center justify-center text-white hover:text-white hover:bg-pink-900 hover:bg-opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-900 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                  <span class="sr-only">{% translate "Open main menu" %}</span>
                  <!--
                    Heroicon name: outline/menu
                  -->
                  <svg :class="{ 'hidden': open , 'block': !open }" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                  <!--
                    Heroicon name: outline/x
                  -->
                  <svg :class="{ 'hidden': !open , 'block': open }" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <div class="hidden lg:block lg:ml-4">
                <div class="flex items-center">
                  <!-- Profile dropdown -->
                  <div class="ml-3 relative flex-shrink-0">
                    <div>
                      <button @click="profile = !profile" type="button" class="bg-pink-800 rounded-full flex text-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-offset-pink-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                        <span class="sr-only">{% translate "Open user menu" %}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="rounded-full h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                        </svg>
                      </button>
                    </div>
                    <div
                    @click.outside="profile = false"
                    x-show="profile"
                    x-cloak
                    x-transition:enter="ease-out duration-100"
                    x-transition:enter-start="opacity-0 scale-95"
                    x-transition:enter-end="opacity-100 scale-100"
                    x-transition:leave="duration-75 ease-in"
                    x-transition:leave-start="opacity-100 scale-100"
                    x-transition:leave-end="opacity-0 scale-95"
                    class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none overflow-hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                      <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:text-white hover:bg-pink-900" role="menuitem" tabindex="-1" id="user-menu-item-1">
                        {% translate "Settings" %}
                      </a>

                      <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:text-white hover:bg-pink-900" role="menuitem" tabindex="-1" id="user-menu-item-2">
                        {% translate "Sign out" %}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mobile menu, show/hide based on menu state. -->
          <div
          @click.outside="open = false"
          x-cloak
          x-show="open"
          x-transition:enter="duration-200 ease-out"
          x-transition:enter-start="opacity-0 scale-95"
          x-transition:enter-end="opacity-100 scale-100"
          x-transition:leave="duration-100 ease-in"
          x-transition:leave-start="opacity-100 scale-100"
          x-transition:leave-end="opacity-0 scale-95"
          class="lg:hidden transform" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
              <a @click="tab = 'Dashboard'" :class="(tab === 'Dashboard') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium" aria-current="page">
                {% translate "Dashboard" %}
              </a>

              <a @click="tab = 'Shipments'" :class="(tab === 'Shipments') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium">
                {% translate "Shipments" %}
              </a>

              <a @click="tab = 'Adresses'" :class="(tab === 'Adresses') ? current : def"href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium">
                {% translate "Adresses" %}
              </a>

              <a @click="tab = 'Get a quote'" :class="(tab === 'Get a quote') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium">
                {% translate "Get a quote" %}
              </a>

              <a @click="tab = 'Tickets'" :class="(tab === 'Tickets') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium">
                {% translate "Tickets" %}
              </a>

              <a @click="tab = 'Help'" :class="(tab === 'Help') ? current : def" href="#" class="text-white hover:bg-pink-900 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium">
                {% translate "Help" %}
              </a>
            </div>
            <div class="pt-4 pb-3 border-t border-pink-50">
              <div class="px-5 flex items-center">
                <div class="flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" class="rounded-full h-10 w-10 text-white" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="ml-3">
                  <div class="text-base font-medium text-white">Username</div>
                  <div class="text-sm font-medium text-pink-300">tom@example.com</div>
                </div>
                {% comment %} <button type="button" class="ml-auto bg-indigo-600 flex-shrink-0 rounded-full p-1 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white">
                  <span class="sr-only">View notifications</span>
                  <!-- Heroicon name: outline/bell -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                  </svg>
                </button> {% endcomment %}
              </div>
              <div class="mt-3 px-2 space-y-1">
                <a href="#" class="block rounded-md py-2 px-3 text-base font-medium text-white hover:bg-pink-800 hover:bg-opacity-75">
                  {% translate "Settings" %}
                </a>

                <a href="#" class="block rounded-md py-2 px-3 text-base font-medium text-white hover:bg-pink-800 hover:bg-opacity-75">
                  {% translate "Sign out" %}
                </a>
              </div>
            </div>
          </div>
        </nav>
        <header class="py-10">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-white">
              {% block tab_name %}{% endblock tab_name %}
            </h1>
          </div>
        </header>
      </div>

      <main class="-mt-32">
        <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
          <!-- Replace with your content -->
          <div class="bg-white rounded-3xl shadow px-5 py-6 sm:px-6 text-gray-800">
            {% block content %}
            {% endblock content %}
          </div>
          <!-- /End replace -->
        </div>
      </main>
    </div>
  </body>
</html>