{% load static %}
{% load i18n %}
<div x-data="{ isOpenm : false }" class="relative bg-white">
  <div class="flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10">
    <div>
      <a href="{% url 'HomeView' %}" class="flex">
        <span class="sr-only">Gozagel</span>
        <img class="h-8 w-auto sm:h-10" src="{% static 'icons/gozagel-color.png' %}" alt="Gozagel">
      </a>
    </div>
    <div class="-mr-2 -my-2 md:hidden">
      <button type="button" @click="isOpenm = true"
        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-pink-900"
        aria-expanded="false">
        <span class="sr-only">{% translate "Open menu" %}</span>
        <!-- Heroicon name: outline/menu -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
    <div class="hidden md:flex-1 md:flex md:items-center md:justify-between">
      <nav class="flex space-x-10">
        <a href="" class="text-base font-medium text-gray-500 hover:text-gray-900">
          {% translate "Get a Quote" %}
        </a>
        <a href="{% url 'trackingPage' %}" class="text-base font-medium text-gray-500 hover:text-gray-900">
          {% translate "Tracking" %}
        </a>
        <a href="{% url 'show_address' %}" class="text-base font-medium text-gray-500 hover:text-gray-900">
          {% translate "Address" %}
        </a>
        <div x-data="{ isOpen: false }" class="relative">
          <button type="button" :class="{'text-gray-900': isOpen}" @click="isOpen = !isOpen"
            @click.outside="isOpen = false"
            class="text-gray-500 group bg-white rounded-md inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-900"
            aria-expanded="false">
            <span>{% translate "More" %}</span>
            <!--
              Heroicon name: solid/chevron-down
            -->
            <svg :class="{'text-gray-600': isOpen}" class=" ml-2 h-5 w-5 group-hover:text-gray-500"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div x-cloak x-show="isOpen" x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 translate-y-1"
            class="absolute z-20 left-1/2 transform -translate-x-1/2 mt-3 px-2 w-screen max-w-xs sm:px-0">
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
              <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                <a href="#" class="-m-3 p-3 block rounded-md hover:bg-gray-50">
                  <p class="text-base font-medium text-gray-900">
                    {% translate "Help Center" %}
                  </p>
                  <p class="mt-1 text-sm text-gray-500">
                    {% translate "Get all of your questions answered in our FAQ or contact support." %}
                  </p>
                </a>

                <a href="#" class="-m-3 p-3 block rounded-md hover:bg-gray-50">
                  <p class="text-base font-medium text-gray-900">
                    {% translate "Contact" %}
                  </p>
                  <p class="mt-1 text-sm text-gray-500">
                    {% translate "Send a message or get in touch with us." %}
                  </p>
                </a>

                <a href="#" class="-m-3 p-3 block rounded-md hover:bg-gray-50">
                  <p class="text-base font-medium text-gray-900">
                    {% translate "About" %}
                  </p>
                  <p class="mt-1 text-sm text-gray-500">
                    {% translate "Get to know us and what we do." %}
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="flex items-center md:ml-12">
        <a href="{% url 'checkout' %}" class="text-base font-medium text-gray-500 hover:text-gray-900">
          {% translate "Log in" %}
        </a>
        <a href="#"
          class="ml-8 inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-pink-800 hover:bg-pink-900">
          {% translate "Sign up" %}
        </a>
      </div>
    </div>
  </div>
  <div @click.outside="isOpenm = false" x-cloak x-show="isOpenm" x-transition:enter="duration-200 ease-out"
    x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    class="absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
      <div class="pt-5 pb-6 px-5">
        <div class="flex items-center justify-between">
          <div>
            <img class="h-8 w-auto" src="{% static 'icons/gozagel-color.png' %}" alt="gozagel-icon">
          </div>
          <div class="-mr-2">
            <button type="button" @click="isOpenm = false"
              class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-pink-900">
              <span class="sr-only">{% translate "Close menu" %}</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-6">
          <nav class="grid gap-6">
            <a href="#" class="-m-3 p-3 flex items-center rounded-lg hover:bg-gray-50">
              <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-pink-800 text-white">
                <!-- Heroicon name: outline/chart-bar -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                </svg>
              </div>
              <div class="ml-4 text-base font-medium text-gray-900">
                {% translate "Get a Quote" %}
              </div>
            </a>

            <a href="#" class="-m-3 p-3 flex items-center rounded-lg hover:bg-gray-50">
              <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-pink-800 text-white">
                <!-- Heroicon name: outline/cursor-click -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </div>
              <div class="ml-4 text-base font-medium text-gray-900">
                {% translate "Track a Parcel" %}
              </div>
            </a>
          </nav>
        </div>
      </div>
      <div class="py-6 px-5">
        <div class="grid grid-cols-2 gap-4">
          <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
            {% translate "Help Center" %}
          </a>

          <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
            {% translate "Contact" %}
          </a>

          <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
            {% translate "About" %}
          </a>
        </div>
        <div class="mt-6">
          <a href="#"
            class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-pink-800 hover:bg-pink-900">
            {% translate "Sign up" %}
          </a>
          <p class="mt-6 text-center text-base font-medium text-gray-500">
            {% translate "Existing customer?" %}
            <a href="#" class="text-pink-800 hover:text-pink-900">
              {% translate "Log in" %}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>