{% extends 'components/base_app.html' %}
{% load static %}
{% load i18n %}
{% block description %}
{% endblock description %}
{% block head_title %}
My Addresses
{% endblock head_title %}
{% block tab %}
Addresses
{% endblock tab %}
{% block tab_name %}
{% endblock tab_name %}
{% block content %}
<style>
  .address-data-list p.line-clamp-2 {
    margin-bottom: 12px;
  }

  .address-data-list h3 {
    font-size: 18px;
    font-weight: 500;
  }
</style>
<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6" xmlns="http://www.w3.org/1999/html">
  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
    <div class="ml-4 mt-2">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        My Addresses
      </h3>

    </div>
    <div class="ml-4 mt-2 flex-shrink-0">

      <button type="button"
        class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-800 hover:bg-pink-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-800">
        <a href="{% url 'add_address' %}"
          class="w-full flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
          New Address
        </a>
      </button>
    </div>
  </div>
  <div>
    <div class="flow-root mt-6">
      <ul role="list" class="-my-5 divide-y divide-gray-200 address-data-list">
        <li class="py-5">
          <div class="relative focus-within:ringname-2 focus-within:ring-pink-800">
            {% if contact_list %}
            {% for data in contact_list %}
            <h3> {{ data.name }}</h3>
            <p class="mt-1 text-sm text-gray-600 line-clamp-2">
              {{ data.address }},
              {{ data.apartment_suit }},
              {{ data.city }},
              {{ data.country }},
              {{ data.province }},
              {{ data.postal }},


            </p>
            {% endfor %}
            {% else %}
            <p class="">No contact history found!</p>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>

  </div>
  <div class="text-center">
    <div class="mt-6">
      <button type="button"
        class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-800 hover:bg-pink-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-800">
        <!-- Heroicon name: solid/plus -->

        <a href="{% url 'add_address' %}"
          class="w-full flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
          New Address
        </a>
      </button>
    </div>
  </div>
  {% endblock content %}